.container {
  max-width: 630px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
}

.main {
  margin: auto;
  width: 100%;
}

@media (max-width: 575px) {
  .main {
    padding: 15px 0px;
  }

  .wrapper {
    flex-direction: column;
  }

  .block {
    border-right: 1px solid black;
  }
}
